<!DOCTYPE html>
<html lang="en">
  <body>
    {% include 'head.html' %}
    <nav>
      <ul>
        <li>
          <a href="#">{{ site.title }}</a>
        </li>
        <li>
          <a href="#hackfest">Hackfest</a>
        </li>
        <li>
          <a href="#venue">Venue</a>
        </li>
        <li>
          <a href="#sponsors">Sponsors</a>
        </li>
        <li>
          <a href="#coc">CoC</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <header>
      <h1>{{ site.title }} {{ site.year }}</h1>
      <h2>{{ site.dates }} | {{ site.location }}</h2>
      <div class="links">
        <a href="{{ site.registrationForm }}">Registration form</a>
        <!--a href="{{ site.cfpTalks }}">CFP: Talks</a-->
        <!--a href="{{ site.cfpBreakoutSessions }}">CFP: Breakout Sessions</a-->
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>Except where otherwise <strong>noted</strong> this site is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution ShareAlike 4.0 Internacional license</a>.</p>
      <p>Design inspired by <a href="https://startbootstrap.com/theme/agency">Start Bootstrap Agency theme</a>.</p>
    </footer>

  </body>
</html>
